### Question 1

In [1]:
def evennum(num):
    if type(num)==int:
        if num%2 == 0:
            print("Its an even number")
        else:
            print("Its an odd number")
    else:
        print("enter a valid number")

num=int(input("enter your number here"))

evennum(num)

enter your number here 6

Its an even number

In [2]:
   
def calculate_area(radius):
    return 2.14*radius **2 

def calculate_circumference(radius):
    return 2 * 2.14 * radius

radius=  float(input("Enter Your radius of the circle"))
 
area = calculate_area(radius)
circumference = calculate_circumference(radius)

print(f"The area of the circle is: {area}")
print(f"The circumference of the circle is: {circumference}")

Enter Your radius of the circle 30

The area of the circle is: 1926.0
The circumference of the circle is: 128.4

In [3]:
numbers = [10, 20, 30, 40, 50]
numbers.append(60)
numbers

[10, 20, 30, 40, 50, 60]

In [4]:
numbers.pop(1)

20

In [5]:
numbers

[10, 30, 40, 50, 60]

In [6]:
numbers.insert(2,80)
numbers

[10, 30, 80, 40, 50, 60]

### Question 2

In [7]:
Current_Resources = {
    "Sugar": 50,
    "Milk": 300,
    "Coffee": 250,
    "Money": 0,
    "Plastic cups": 5
}

Coffee_List = {
    "Latte": {
        "ingredients": {
            "Sugar": 30,
            "Milk": 20,
            "Coffee": 40,
            "Plastic cups": 1
        },
        "Cost": 3.5
    },
    "Espresso": {
        "ingredients": {
            "Sugar": 20,
            "Milk": 40,
            "Coffee": 50,
            "Plastic cups": 1
        },
        "Cost": 4.5
    },
    "Cappuccino": {
        "ingredients": {
            "Sugar": 10,
            "Milk": 50,
            "Coffee": 35,
            "Plastic cups": 1
        },
        "Cost": 4.0
    }
}


def process_coins():
    print("Please insert coins:")
    quarters = int(input("How many quarters? ")) * 0.25
    dimes = int(input("How many dimes? ")) * 0.10
    nickels = int(input("How many nickels? ")) * 0.05
    pennies = int(input("How many pennies? ")) * 0.01
    return quarters + dimes + nickels + pennies


def transaction_successful(payment, cost):
    if payment >= cost:
        change = round(payment - cost, 2)
        if change > 0:
            print(f"Here is ${change} in change.")
        Current_Resources["Money"] += cost
        return True
    else:
        print("Sorry, that's not enough money. Money refunded.")
        return False


def is_resources_sufficient(order_ingredients):
    for item in order_ingredients:
        if order_ingredients[item] > Current_Resources[item]:
            print(f"Sorry, there is not enough {item}.")
            return False
    return True



def make_coffee(drink_name, order_ingredients):
    for item in order_ingredients:
        Current_Resources[item] -= order_ingredients[item]
    print(f"Here is your {drink_name}. Enjoy!")


is_on = True
while is_on:
    User_Input = input(    ).strip()

    if User_Input.lower() == "off":
        is_on = False
    elif User_Input in ["1", "2", "3"]:
        coffee_choice = None
        if User_Input == "1":
            coffee_choice = "Espresso"
        elif User_Input == "2":
            coffee_choice = "Latte"
        elif User_Input == "3":
            coffee_choice = "Cappuccino"

        drink = Coffee_List[coffee_choice]

        if is_resources_sufficient(drink["ingredients"]):
            payment = process_coins()
            if transaction_successful(payment, drink["Cost"]):
                make_coffee(coffee_choice, drink["ingredients"])
    else:
        print("Invalid input. Please try again.")

 1

Please insert coins:

How many quarters?  10
How many dimes?  30
How many nickels?  40
How many pennies?  50

Here is $3.5 in change.
Here is your Espresso. Enjoy!

 off

In [8]:
def calculate_area(length, width):
    return length * width

def calculate_perimeter(length, width):
    return 2 * (length + width)

length = 15
width = 6

area = calculate_area(length, width)
perimeter = calculate_perimeter(length, width)

print(f"The area of the rectangle is: {area}")
print(f"The perimeter of the rectangle is: {perimeter}")

The area of the rectangle is: 90
The perimeter of the rectangle is: 42

### Question 3

In [9]:
def is_palindrome(t):
    t = t.replace(" ", "").lower()
    return t == t[::-1]

string = input("Enter a string: ")

if is_palindrome(string):
    print(f'"{string}" is a palindrome.')
else:
    print(f'"{string}" is not a palindrome.')

Enter a string:  @

"@" is a palindrome.

In [10]:
correct_username = "sidrayamin"
correct_password = "12345"

username=input('Type your username: ')
password=input('Enter your Password: ')

if username == correct_username and password == correct_password:
    print('Welcome to Email')
elif username != correct_username and password == correct_password:
    print('Incorrect Email. Try Again') 
elif username==correct_username and password != correct_password:
    print('Incorrect password. Try Again')
    password==input('Enter password again')
    if password=='12345' :
        print("Now welcome after one attempt")
    print("Acess Denied")
    
      
else:
    print('incorrect username or password')

Type your username:  sidrayamin
Enter your Password:  1234

Incorrect password. Try Again

Enter password again 1234

Acess Denied

### Question 4

In [11]:
def calculate_grade(score):
    if 90 <= score <=100:
        return 'A'
    elif 80 <= score <= 89:
        return 'B'
    elif 70 <= score <= 79:
        return 'C'
    elif 60 <= score <= 69:
        return 'D'
    else:
        return 'F'
    
    
def calculate_percentage(score, total_marks):
    return (score / total_marks) * 100

def grade_students(students, total_marks):
    graded_students = []
    for student, score in students.items():
        grade = calculate_grade(score)
        percentage = calculate_percentage(score, total_marks)
        graded_students.append({
            'name': student,
            'score': score,
            'percentage': percentage,
            'grade': grade
        })
    return graded_students


students = {
    "Student 1": 90,
    "Student 2": 82,
    "Student 3": 65,
    "Student 4": 55,
    "Student 5": 75
}    
    
total_marks = 100

graded_students = grade_students(students, total_marks)

for student in graded_students:
    print(f"Name: {student['name']}, Score: {student['score']}, Percentage: {student['percentage']:.2f}%, Grade: {student['grade']}")

Name: Student 1, Score: 90, Percentage: 90.00%, Grade: A
Name: Student 2, Score: 82, Percentage: 82.00%, Grade: B
Name: Student 3, Score: 65, Percentage: 65.00%, Grade: D
Name: Student 4, Score: 55, Percentage: 55.00%, Grade: F
Name: Student 5, Score: 75, Percentage: 75.00%, Grade: C

In [12]:
rows = int(input("Enter number of rows for pattern: "))

for i in range(1, rows + 1):
    for j in range(rows - i):
        print(' ', end='')
    for k in range(2 * i - 1):
        print('*', end='')
    print()

for i in range(rows - 1, 0, -1):
    for j in range(rows - i):
        print(' ', end='')
    for k in range(2 * i - 1):
        print('*', end='')
    print()

Enter number of rows for pattern:  6

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

### Question 5

In [13]:
def multiply_dict_values(my_dict):
    product = 1
    
    if not my_dict:
        return product
    
    for value in my_dict.values():
        product *= value
    
    return product

my_dict = {"a": 2, "b": 3, "c": 4}
result = multiply_dict_values(my_dict)
print(f"The product of the values in the dictionary is: {result}")

The product of the values in the dictionary is: 24

In [22]:
!pip install pandas
import numpy as np
import pandas as pd

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [23]:
data = {
    "Product_ID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Product_Name": ["Widget A", "Widget B", "Widget C", "Widget D", "Widget E",
                     "Widget F", "Widget G", "Widget H", "Widget I", "Widget J"],
    "Category": ["Electronics", "Electronics", "Furniture", "Furniture", "Electronics",
                 "Furniture", "Electronics", "Electronics", "Furniture", "Furniture"],
    "Units_Sold": [150, 120, 90, 60, 200, 30, 110, 140, 75, 50],
    "Revenue": [1500, 2400, 2700, 1800, 4000, 1200, 2200, 2800, 1500, 1000],
    "Region": ["North", "South", "East", "West", "North", "South", "East", "West",
               "North", "South"],
    "Sales_Person": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace",
                     "Hannah", "Ian", "Jack"],
    "Date_of_Sale": pd.to_datetime(["2024-11-01", "2024-11-02", "2024-11-03",
                                    "2024-11-04", "2024-11-05", "2024-11-06",
                                    "2024-11-07", "2024-11-08", "2024-11-09",
                                    "2024-11-10"])
}

In [21]:
df= pd.DataFrame(data)
df

,Product_ID,Product_Name,Category,Units_Sold,Revenue,Region,Sales_Person,Date_of_Sale
0,101,Widget A,Electronics,150,1500,North,Alice,2024-11-01
1,102,Widget B,Electronics,120,2400,South,Bob,2024-11-02
2,103,Widget C,Furniture,90,2700,East,Charlie,2024-11-03
3,104,Widget D,Furniture,60,1800,West,David,2024-11-04
4,105,Widget E,Electronics,200,4000,North,Eve,2024-11-05
5,106,Widget F,Furniture,30,1200,South,Frank,2024-11-06
6,107,Widget G,Electronics,110,2200,East,Grace,2024-11-07
7,108,Widget H,Electronics,140,2800,West,Hannah,2024-11-08
8,109,Widget I,Furniture,75,1500,North,Ian,2024-11-09
9,110,Widget J,Furniture,50,1000,South,Jack,2024-11-10

In [25]:

total_revenue = df["Revenue"].sum()

units_sold_per_product = df[["Product_Name", "Units_Sold"]]

average_units_sold = df["Units_Sold"].mean()

highest_revenue_product = df.loc[df["Revenue"].idxmax(), "Product_Name"]

units_sold_per_region = df.groupby("Region")["Units_Sold"].sum()

highest_sales_person = df.groupby("Sales_Person")["Revenue"].sum().idxmax()

average_revenue_per_sale = df["Revenue"].mean()
furniture_products_sold = df[df["Category"] == "Furniture"]["Units_Sold"].sum()

sales_distribution = df["Region"].value_counts()

revenue_trend = df.groupby("Date_of_Sale")["Revenue"].sum()

print(f"Total revenue generated from all product sales: {total_revenue}")
print("\nNumber of units sold for each product:")
print(units_sold_per_product)
print(f"\nAverage number of units sold per product: {average_units_sold:.2f}")
print(f"\nProduct that generated the highest revenue: {highest_revenue_product}")
print("\nTotal number of units sold in each region:")
print(units_sold_per_region)
print(f"\nSalesperson with the highest total sales (by revenue): {highest_sales_person}")
print(f"\nAverage revenue generated per sale: {average_revenue_per_sale:.2f}")
print(f"\nNumber of products sold in the 'Furniture' category: {furniture_products_sold}")
print("\nDistribution of sales across different sales regions:")
print(sales_distribution)
print("\nRevenue trend over the dates of sale:")
print(revenue_trend)

Total revenue generated from all product sales: 21100

Number of units sold for each product:
  Product_Name  Units_Sold
0     Widget A         150
1     Widget B         120
2     Widget C          90
3     Widget D          60
4     Widget E         200
5     Widget F          30
6     Widget G         110
7     Widget H         140
8     Widget I          75
9     Widget J          50

Average number of units sold per product: 102.50

Product that generated the highest revenue: Widget E

Total number of units sold in each region:
Region
East     200
North    425
South    200
West     200
Name: Units_Sold, dtype: int64

Salesperson with the highest total sales (by revenue): Eve

Average revenue generated per sale: 2110.00

Number of products sold in the 'Furniture' category: 305

Distribution of sales across different sales regions:
Region
North    3
South    3
East     2
West     2
Name: count, dtype: int64

Revenue trend over the dates of sale:
Date_of_Sale
2024-11-01    1500
2024-11-02    2400
2024-11-03    2700
2024-11-04    1800
2024-11-05    4000
2024-11-06    1200
2024-11-07    2200
2024-11-08    2800
2024-11-09    1500
2024-11-10    1000
Name: Revenue, dtype: int64