1. Write a Python program to print the numbers from 1 to 10 using a for loop.
2. Create a list containing the numbers 1 to 5. Then, using a for loop, print each element of the list.
3. Write a program that takes a list of numbers and returns the sum of all the numbers in the list.
4. Given a list of strings, write a program to concatenate all the strings into one.
5. Write a program that takes a list of numbers and returns the largest number in the list.
6. Create a list containing the numbers 1 to 10. Using a for loop, square each number in the list and print the result.
7. Write a program that takes a list of numbers and returns a new list containing only the even numbers from the original list.
8. Given two lists of numbers, write a program to combine the lists element-wise (i.e., element-wise addition).
9. Write a program that takes a list of strings and returns a new list containing the lengths of each string.
10. Create a list of numbers from 1 to 10. Using list slicing and a for loop, print every second element of the list.

In [2]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
list1= [1,2,3,4,5]
for num in list1:
    print(num)

1
2
3
4
5

In [4]:
def sum_of_list (list2):
    return sum(list2)
    
list2=[1,2,3,4,5]
print("Sum:", sum_of_list(list2))

Sum: 15

In [8]:
def concatenate_strings(strings):
    return ''.join(strings)
strings= ["Hi"," ", "I"," ", "am"," ", "Sidra", " ", "Yamin"]
print(concatenate_strings(strings))

Hi I am Sidra Yamin

In [9]:
def find_max(numbers):
    return max(numbers)

numbers = [1,5,6,16,99,150]
print(find_max(numbers))

150

In [10]:
numbers2= [1,2,3,4,5,6,7,8,9,10]
for num in numbers2:
    print (num**2)

1
4
9
16
25
36
49
64
81
100

In [12]:
def even_num(num):
    return num % 2 == 0  

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = [num for num in numbers if even_num(num)]

print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

In [13]:
def add(num1, num2):
    print("Number1:",num1)
    print("Number2:",num2)
    Addition = num1 + num2
    return Addition

num1 = [1,2,3,4,5]
num2 = [5,6,7,8,9]

res = add(num1, num2)
print(res)

Number1: [1, 2, 3, 4, 5]
Number2: [5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [18]:
def add_lists(list1, list2):
    return [a + b for a, b in zip(list1, list2)]

list1 = [1, 2, 3]
list2 = [4, 5, 6]
print("Element-wise sum:", add_lists(list1, list2))

Element-wise sum: [5, 7, 9]

In [19]:
def string_length(strings):
    return [len(s) for s in strings]

strings = ["apple", "banana", "cherry"]
print("Lengths:", string_length(strings))

Lengths: [5, 6, 6]

In [20]:
numbers = list(range(1, 11))
for num in numbers[::2]:
    print(num)

1
3
5
7
9