In [1]:
favourite_fruit = ["apple", "mango", "banana", "grapes"]
not_favourite = ["blueberry", "Kiwi", "watermelon", "pomegranate"]
occasional_fruit = ["orange", "papaya", "strawberry", "pineapple"]
print (favourite_fruit)

['apple', 'mango', 'banana', 'grapes']

In [2]:
numbers=(1,2,3,4,5,6,7,8)
print(numbers)
print(type(numbers))

(1, 2, 3, 4, 5, 6, 7, 8)
<class 'tuple'>

In [3]:
# only count and index appears with the tuple.
# in tuples data requirement doesnt change , it stores it in the list format. best example username and password
numbers.count(1)
numbers.index(1)

0

In [4]:
numbers.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
numbers.insert(1,9)
numbers.pop(9)
print(numbers)

In [ ]:
#addition where 3+7=10, while this addition below is concatigation
number1=(12,14,15,20,25,30,35,40)
print(number1)
number_list=number1+numbers
print(number_list)

In [ ]:
# for multiplication it will show the list three times.
number1*3

In [ ]:
#concatigation example, negative number will not be supported
'3'+'5'
number1-numbers

In [ ]:
number1[2]

In [ ]:
number1.index(35)

In [ ]:
#class = here if you will write the number1.index only it will show the method.
#function = when you request so you have to answer. like number1.index (), where you have to return the association. fulfillment of arguments.

In [ ]:
numbers.index(2)

In [ ]:
number_list.index(2)

In [ ]:
favourite_fruit.append(numbers)

In [ ]:
print(favourite_fruit)

In [ ]:
numbers.append(favourite_fruit)

In [ ]:
# tuple will add tuple, but concatenate list to list but not list to tuple.
favourite_fruits= favourite_fruit+numbers
print(favourite_fruits)

In [ ]:
min(number1)
print(number1)
max(number1)
sorted(number1)

In [ ]:
numbers = [19,20,25,30,40]
print (numbers)

In [ ]:
min(numbers)

In [ ]:
max(numbers)

In [ ]:
sorted(numbers, reverse = True)

In [ ]:
sorted(numbers, reverse = False)

In [ ]:
numbers.count
print(numbers)

In [ ]:
sum(numbers)

In [ ]:
round(98.9)

In [ ]:
#multiple variable declaration, this is also called unpacking of a element of a tuple. The reason it shows its integer is that there are multiple variables which have designated numbers. if it was a tuple there will be single variable for all the numbers.
#there is one rule of unpacking, there should be equal number of elements on both side.
num1, num2, num3 = 6,67,45
print(type(num1))
print(num1, num2, num3)

In [ ]:
# if you dont know how many elements are there in a tuple, use *others
num1,*others = (6,67,45)
print(type(num1))
print(num1, others)

In [ ]:
# set is an unordered collection of items. every set elemement is unique (no duplicates). and must be immutable. set iteself is mutable but the elements are not mutable. However, a set itself is mutable. we can add or remove items from it. sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

In [ ]:
 characterstics: unordered, mutable, no duplicates and cant contain mutable data types.

In [ ]:
#representations {}
name={}
type(name)

In [ ]:
name=set()
type(name)

In [ ]:
s={5,3,3,4}
print(s)

In [ ]:
#data types which are mutable cannot be part of the set within set or list. It will only take tuple which is mentined below
s={5,3,3,4,(4,5)}

In [ ]:
s={5,3,3,4,[4,5]}

In [ ]:
s={5,3,3,4,{4,5}}

In [ ]:
#its unordered, set will give output according to its wish. There is no predefined.
# in this True is 1, while false 0, since there are two "1 and true" in the set it will appear as once. 
s={1,"Sajid", 2.5, True}
print(s)

In [ ]:
s={1,"Sajid", 2.5, False}

In [ ]:
fruit=set(['apple','banana','cherry'])
print(type(fruit))

In [ ]:
s1={1,2,3,4}
s2={4,3,2,1}
s1==s2

In [ ]:
# Accessing Element, index function, its unordered so if we will ask them to index 0 it will not know what is at 0.
print(s[0])

In [ ]:
#same we cannot update, or neither we can insert in it. 
s[0]='banana'

# Addition

In [6]:
S={1,2,3,4}
#add
S.add(5)
print(S)

{1, 2, 3, 4, 5}

In [7]:
#when we want to multiple values in a set we use update funciton. Set aese mutable items ko kabhi ane hi nahi dega, yahan list nazar nahi ayegi and transform it into immutable..
S.update([6,7,8])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
#same it will happen with tupple, that it will transform it into immutable list and show as one set. 
S.update((9,10,11))
print(S)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [9]:
S.update([12,13,14])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [10]:
S.update("Imran")
print(S)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'a', 'r', 'm', 'n', 'I'}

In [11]:
S.update(["Imran"])
print(S)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'a', 'r', 'm', 'n', 'Imran', 'I'}

In [12]:
name={"Imran"}
print(name)

{'Imran'}

In [13]:
name.update("Khan")
print(name)

{'K', 'n', 'Imran', 'a', 'h'}

In [14]:
#it will pop any items from any where from set
S.pop()
print(S)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'a', 'r', 'm', 'n', 'Imran', 'I'}

In [15]:
#it will think about the elements whether they are existing or not. If we will ask it to remove 58 it will give us an error that it doesnt exist.
S.remove(5)
print(S)

{2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'a', 'r', 'm', 'n', 'Imran', 'I'}

In [17]:
# discard function will only be used in the set, it has the capability to discard only elements which are exisitng in the set. It will not show any error if any elements are not present in the set.
S.discard(14)
print(S)

{2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 'a', 'r', 'm', 'n', 'Imran', 'I'}

In [20]:
S.clear()
print(S)

set()

# Operation in Set

In [22]:
#Union (|) - comparison of both set, add them, and present the collective output
s3={2,3,4,5,6}
s4={3,4,5,10,12,13}
print(s3|s4)

{2, 3, 4, 5, 6, 10, 12, 13}

In [24]:
#intersection (&)
print (s3&s4)

{3, 4, 5}

In [25]:
#difference (-), the set on the left side will be written, only there remaining items will appear in output.
print(s3-s4)

{2, 6}

In [26]:
print(s4-s3)

{10, 12, 13}

In [27]:
#symmetric Difference (^). all the items except those items which are common items in the intersection will appear in the intersection.
print(s3^s4)

{2, 6, 10, 12, 13}

In [29]:
#membership 
3 in s3

True

In [33]:
#len/sum/min/max/sorted
s={3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))

6
22
1
7
[7, 5, 4, 3, 2, 1]

In [34]:
#union/update
s1 = {1,2,3,4,5}
s2= {4,5,6,7,8}

#s1|s2
s1.union(s2)
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [39]:
#isdisjoint (completely different, not a single common element), issubset (parent Child), issuperset 

s1.isdisjoint(s2)

False

In [43]:
s1.issubset(s2)

False

In [42]:
s2.issubset(s1)

True

In [40]:
s1.issuperset(s2)

True

In [47]:
#create a Frozen Set . we can add frozen set into a frozen set. 
fs1=frozenset([1,2,3])
print(fs1)

frozenset({1, 2, 3})

In [51]:
fs1.update([4,5,6])
print(fs1)

AttributeError: 'frozenset' object has no attribute 'update'

In [52]:
fs2=frozenset([4,5,6])
print(fs2)

frozenset({4, 5, 6})

In [53]:
fs1.union(fs2)

frozenset({1, 2, 3, 4, 5, 6})