In [1]:
list=['banana','strawberry',['Grapes','Orange']]
n=len(list)
for i in range(n,0,-1):
    print(list[i-1])

['Grapes', 'Orange']
strawberry
banana

In [2]:
def sub(num1, num2):
    print("Birth Year:",num1)
    print("current year:",num2)
    Subtraction = num1 - num2
    return Subtraction

num1 = int(input('Enter your birthyear'))
num2 = int(input('Enter your currentyear'))

res = sub(num2, num1)
print(res)

Enter your birthyear 1882
Enter your currentyear 23

Birth Year: 23
current year: 1882
-1859

In [3]:
def welcome():
    print("Good Morning Ali, Have a nice day")

In [4]:
welcome()

Good Morning Ali, Have a nice day

In [5]:
def welcome(name):
    print("Good Morning",name, "Have a nice day")

In [6]:
welcome("Sidra")

Good Morning Sidra Have a nice day

In [7]:
def welcome(name):
    print("Good Morning",name, "Have a nice day")
name=input("Enter Your Name:")
welcome(name)

Enter Your Name: Sidra

Good Morning Sidra Have a nice day

In [8]:
def add(num1, num2):
    print("Number1:",num1)
    print("Number2:",num2)
    Addition = num1 + num2
    return Addition

num1 = int(input('Enter your Number1'))
num2 = int(input('Enter your Number2'))

res = add(num1, num2)
print(res)

Enter your Number1 32
Enter your Number2 23

Number1: 32
Number2: 23
55

In [25]:
def even_num(num):
    if num%2 == 0:
        print("Its an even number")
    else:
        print("Its an odd number")
num=int(input("enter your number here"))
even_num(num)

enter your number here 34

Its an even number

In [29]:
def evennum(num):
    if type(num)==int:
        if num%2 == 0:
            print("Its an even number")
        else:
            print("Its an odd number")
    else:
        print("enter a valid number")

num=int(input("enter your number here"))

evennum(num)

enter your number here 12

Its an even number

In [40]:
#globally declared will be replace by the local value. 
def Area():
    pi=3.142
    Area=(pi*r**2)
    Circumfrnce= 2*pi*r
    return 'Area is:',Area, 'Circumference:',Circumfrnce
r=float(input("Radius"))
Area()

Radius 34

('Area is:', 3632.152, 'Circumference:', 213.656)

In [1]:
def list_sqaure(num_list):
    temp_list=[]
    for num in num_list:
        temp_list.append(num**2)
    return temp_list
num_list=[2,3,4,5,]
print("Print Original list:", num_list)
list_sqaure(num_list)

Print Original list: [2, 3, 4, 5]

[4, 9, 16, 25]

In [2]:
def list_sqaure(nume_list):
    for i in range(len(

_IncompleteInputError: incomplete input (1131816790.py, line 2)

In [27]:
def list_sum1(num_list1):
    total= 0
    for num1 in num_list1:
        total += num1
    return total
num_list1=[2,3,4,5,]
print("Print Original list:", num_list1)
list_sum1(num_list1)

Print Original list: [2, 3, 4, 5]

14

In [26]:
def list_sum(num_list2):
    total = 0
    for i in num_list2:
        total +=i
    return total
num_list2=[2,3,4,5]
print("Print Original list:", num_list2)
list_sum(num_list2)

Print Original list: [2, 3, 4, 5]

14

In [31]:
def list_sum(tuple_list):
    prod= 1
    for i in tuple_list:
        prod*=i
    return prod
tuple_list=(5,6,7,8)
print("Print Original list:", tuple_list)
list_sum(tuple_list)

Print Original list: (5, 6, 7, 8)

1680

In [46]:
def evennum(num):
    if num % 2 == 0:
        print("It's an even number")
    else:
        print("It's an odd number")

    if isinstance(num, int):
        print("Perfect")
    else:
        print("Enter a valid number")

user_input = input("Enter your number here: ")

try:
    num = int(user_input) 
    evennum(num)  
except ValueError:
    print("That's not a valid number. Please enter a valid integer.")

Enter your number here:  hello

That's not a valid number. Please enter a valid integer.

In [48]:
for i in range(10,20):
    if i % 2 ==0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd

In [52]:
for i in range(10,20):
    is_valid_even (i)

NameError: name 'is_valid_even' is not defined

## Types of Argument

In [56]:
# defualt arguments, are used for 
# positional arguments
# keywords arguments


def power(a,b):
    return a**b

In [60]:
power(b=3,a=2)

8

In [61]:
power(a=3,b=2)

9

In [76]:
#args, #keywargs
def product(*args):
    product(1)
    for i in args:
        product=product*i
        print(args)
        return(product)

In [77]:
product (2,3,4,5,6,7,8,9,10)

UnboundLocalError: cannot access local variable 'product' where it is not associated with a value

In [78]:
def user_details(*args):
    print(args)

name=input("Enter Your Name")
gender=input("Enter Your gender")
age=input("Enter Your age")
specialization=input("Enter Your specialization")
user_details(name,gender,age, specialization)

Enter Your Name Sidra Yamin
Enter Your gender Female
Enter Your age 32
Enter Your specialization Research

('Sidra Yamin', 'Female', '32', 'Research')

In [86]:
def user_details(**kwargs):
    print(kwargs)
    
name=input("Enter Your Name")
gender=input("Enter Your gender")
age=input("Enter Your age")
specialization=input("Enter Your specialization")
user_details(name=name,gender=gender,age=age, specialization=specialization)

Enter Your Name sidra
Enter Your gender f
Enter Your age 32
Enter Your specialization r

{'name': 'sidra', 'gender': 'f', 'age': '32', 'specialization': 'r'}

In [89]:
def capital_of_country(**kwargs):
    for key,value in kwargs.items():
        print(key,'--->',value)

capital_of_country(Pakistan="Islamabad", India="Delhi", Bangaldesh="Dhaka")

Pakistan ---> Islamabad
India ---> Delhi
Bangaldesh ---> Dhaka

In [90]:
def Professional_details(**kwargs):
    for key,value in kwargs.items():
        print(key,'--->',value)

Professional_details(Schoolname="Bahria", UniversityName="Bahria University", Workplace="nil")

Schoolname ---> Bahria
UniversityName ---> Bahria University
Workplace ---> nil

In [92]:
list= [1,2,3,4]
print(list.append(5))

None

In [2]:
sum_even= 0
sum_odd = 0
for number in range(101):
    if number % 2 == 0:    
        sum_even += number
    else:                  
        sum_odd += number

print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 2550
Sum of odd numbers: 2500