In [1]:
my_list=[1,2,3,4]
my_list.append([5, 6])
print("Answer 1:",len(my_list))

Answer 1: 5

In [2]:
print("Answer 2:Tuples cannot be nested")

Answer 2:Tuples cannot be nested

In [3]:
my_set = {1, 2, 2, 3, 4}
print(len(my_set))
print ("Answer 3: option b")

4
Answer 3: option b

In [4]:
x = "Hello"
y = x
y += " World"
print("Answer 4:",x)

Answer 4: Hello

In [5]:
print("Answer 5:Lists are faster than tuples.")

Answer 5:Lists are faster than tuples.

In [6]:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
result= set_a.union(set_b)
print("Answer 6:", result)

Answer 6: {1, 2, 3, 4, 5}

In [7]:
print("Answer 7: Mutable data types are those which can be changed once created, for instance we can change passwords for User Id's, Immutable data types are those which cannot be changed once created,for instance we cannot change our user Id's once created ")

Answer 7: Mutable data types are those which can be changed once created, for instance we can change passwords for User Id's, Immutable data types are those which cannot be changed once created,for instance we cannot change our user Id's once created

In [8]:
#Question 8:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [9]:
min(ages)

19

In [10]:
max(ages)

26

In [36]:
Medianage = 24/2

In [12]:
sum(ages)

228

In [13]:
range(26-19)

range(0, 7)

In [14]:
#Question 9
Object1=()
print(Object1)

()

In [55]:
sisters=('Shagufta','Sidra','Asma', 'Rabia')
brothers=('Tayyab', 'Tahir')
sisters.insert(brothers)

print("tupple cannot be added into a tupple")

AttributeError: 'tuple' object has no attribute 'insert'