In [1]:
print('Sidra Yamin')

Sidra Yamin

In [2]:
name = 'NedAcademy'
print(type(name))
age= 30
print(type(age))

<class 'str'>
<class 'int'>

In [3]:
x= str(3)
y = int(2.0)
z= float(3)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [4]:
First_Name= "Sidra"
Last_Name= "Yamin"
age = 32
gender= "female"
organization = "NIL"
CGPA = 3.2
is_working = True
print ("======================================")
print("\t\t My Profile")
print("Name: \t\t", First_Name + ' ' + Last_Name)
print("Gender:\t\t", gender)
print("Age:\t\t", age)
print("Orgnization:\t", organization)
print("CGPA:\t\t", CGPA)
print("is working:\t", is_working)
print ("======================================")

======================================
		 My Profile
Name: 		 Sidra Yamin
Gender:		 female
Age:		 32
Orgnization:	 NIL
CGPA:		 3.2
is working:	 True
======================================

In [5]:
x=y=z=4
print(x)
print(z)
print(y)

4
4
4

In [6]:
x,y,z = 4,5,6
print(x)
print(z)
print(y)

4
6
5

In [7]:
name=input("Enter Your Name")
print("Welcome", name)

Enter Your Name Sidra

Welcome Sidra

In [8]:
print(type(name))

<class 'str'>

In [9]:
txt ="we are learning puython"
txt.upper()

'WE ARE LEARNING PUYTHON'

In [10]:
txt.lower()

'we are learning puython'

In [11]:
print(2>3)
print(4<2)
print(4!=4)

False
False
False

In [12]:
number1 = float(input("Enter number1: "))
number2 = float(input("Enter number2: "))
print('The Result of the given numbers:',number1>number2)
print('The Result of the given numbers:',number1<number2)
print('The Result of the given numbers:',number1==number2)
print('The Result of the given numbers:',number1!=number2)
print('The Result of the given numbers:',number1>=number2)
print('The Result of the given numbers:',number1<=number2)

Enter number1:  50
Enter number2:  50

The Result of the given numbers: False
The Result of the given numbers: False
The Result of the given numbers: True
The Result of the given numbers: False
The Result of the given numbers: True
The Result of the given numbers: True

In [14]:
number1 = float(input("Enter number1: "))
number2 = float(input("Enter number2: "))
number3 = float(input("Enter number3: "))

print(number1>number2>number3)

Enter number1:  10
Enter number2:  20
Enter number3:  40

False

In [16]:
number = 10
number +=5
print(number)

15

In [17]:
print(number+5)

20

In [18]:
# Assigning the values to variables
a = 15
b = 5
# Simple assignment operator
b = a
print('b = a: ',b)
# ADD AND operator
b += a
print('b += a: ', b)
# SUBTRACT AND operatpr
b -= a
print('b -= a: ', b)
# MULTIPLICATION AND operator
b *= a
print('b *= a: ', b)
# DIVISION AND operator
b /= a
print('b /= a: ', b)
# FLOOR AND operator
b //= a
print('b //= a: ', b)
# MODULUS AND operator
b %= a
print('b %= a: ', b)
# EXPONENT AND operator
b **= a
print('b **= a: ', b)
# LESS THAN AND operator
b <= a
print('b <= a: ', b)
# GREATOR THAN AND operator
b >= a
print('b >= a: ', b)
# BINARY AND operator
a &= 5
print('a &= 5: ', a)
# BINARY OR operator
a |= 5
print('a |= 5: ', a)

b = a:  15
b += a:  30
b -= a:  15
b *= a:  225
b /= a:  15.0
b //= a:  1.0
b %= a:  1.0
b **= a:  1.0
b <= a:  1.0
b >= a:  1.0
a &= 5:  5
a |= 5:  5

In [25]:
name = ["Farooq",'Jibran','Ahmed','Aliza']
'Farooq' in name 
'Sidra'not in name
'SIdra' in name

False

##Lists

In [1]:
fruits = []
print(type(fruits))

<class 'list'>

In [2]:
fruits = [ "Mango", "Banana", "Apple", "Watermelon", "strawberry"]

In [4]:
print(len(fruits))

5

In [5]:
fruits.append("jaman")

In [7]:
print(fruits)

['Mango', 'Banana', 'Apple', 'Watermelon', 'strawberry', 'jaman']

In [8]:
print(fruits[0])

Mango

In [9]:
print(fruits[3])

Watermelon

In [10]:
#inclusive :exclusive
print(fruits[3:4])

['Watermelon']

In [11]:
#inclusive:exclusive:step
print(fruits[2:5:2])

['Apple', 'strawberry']

In [14]:
fruits.insert(4, "leeche")
print(fruits)

['Mango', 'Banana', 'Apple', 'Watermelon', 'leeche', 'leeche', 'strawberry', 'jaman']

In [15]:
fruits

['Mango',
 'Banana',
 'Apple',
 'Watermelon',
 'leeche',
 'leeche',
 'strawberry',
 'jaman']

In [20]:
fruits.pop('leeche')
fruits

TypeError: 'str' object cannot be interpreted as an integer

In [21]:
fruits

['Mango',
 'Banana',
 'Apple',
 'Watermelon',
 'leeche',
 'leeche',
 'strawberry',
 'jaman']

In [22]:
fruits_in_winter=["orange", "grapes", "pear"]
fruits.append(fruits_in_winter)

In [23]:
print(fruits)

['Mango', 'Banana', 'Apple', 'Watermelon', 'leeche', 'leeche', 'strawberry', 'jaman', ['orange', 'grapes', 'pear']]

In [24]:
fruits

['Mango',
 'Banana',
 'Apple',
 'Watermelon',
 'leeche',
 'leeche',
 'strawberry',
 'jaman',
 ['orange', 'grapes', 'pear']]

In [26]:
print(fruits[2:4:1])

['Apple', 'Watermelon']

In [27]:
fruits.reverse()

In [28]:
fruits

[['orange', 'grapes', 'pear'],
 'jaman',
 'strawberry',
 'leeche',
 'leeche',
 'Watermelon',
 'Apple',
 'Banana',
 'Mango']

In [29]:
fruits_in_summer = ["kiwi", "anar"]

In [32]:
fruits.insert(0, fruits_in_summer)

In [33]:
fruits

[['kiwi', 'anar'],
 ['orange', 'grapes', 'pear'],
 'jaman',
 'strawberry',
 'leeche',
 'leeche',
 'Watermelon',
 'Apple',
 'Banana',
 'Mango']

In [34]:
fruits.reverse()

In [35]:
fruits

['Mango',
 'Banana',
 'Apple',
 'Watermelon',
 'leeche',
 'leeche',
 'strawberry',
 'jaman',
 ['orange', 'grapes', 'pear'],
 ['kiwi', 'anar']]

In [37]:
'Banana' in fruits

True

In [38]:
number=(1,2,3,4,5,6,7,8,9)
print(type(number))

<class 'tuple'>

In [40]:
number.append(0)

AttributeError: 'tuple' object has no attribute 'append'

In [41]:
number.insert(1,3)

AttributeError: 'tuple' object has no attribute 'insert'

In [42]:
number.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [44]:
number.count(2)

1

In [45]:
numberlist=(1,2,3,4,5)
numbers=numberlist+number
print(numbers)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9)