In [1]:
print("We are learning Python")

We are learning Python

In [2]:
name="Sajid"
print(name)

Sajid

In [3]:
print(2+2)

4

In [4]:
number=20
print(type(number))

<class 'int'>

## Data Types

In [5]:
#What are data types? are the formats or a way to communicate with their interpreter in any programming lnaguage.

In [6]:
# integer, boolean, float, string, list, tuple, set
#type () function is used to check variable data type

name = "Ned Academy"
print(type(name))
age = 30
print(type((age)))
salary = 20.5
print(type((salary)))
is_job= True
print(type((is_job)))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [7]:
# Type casting
x = str(3)
y = int(3.0)
z = float(3)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [8]:
# variable decleration not started from any number
# firstName 
# FirstName
# _First_Name
# firstname

In [9]:
# Assignment Solution
first_name = "Sajid"
last_name = "Majeed"
age = 24
gender = "Male"
designation = "Lecturer"
organization = "NED"
cgpa = 3.9
is_working = True

In [10]:
# printing all variable 
print("=================================================")
print("\t\t  My Profile")
print("=================================================")
print("Name:\t\t",first_name +' '+last_name)
print("Gender:\t\t" ,gender)
print("Age:\t\t" ,age)
print("Designation:\t" ,designation)
print("Organization:\t" ,organization)
print("Is Working:\t" ,is_working)
print("CGPA:\t\t",cgpa)
print("=================================================")

=================================================
		  My Profile
=================================================
Name:		 Sajid Majeed
Gender:		 Male
Age:		 24
Designation:	 Lecturer
Organization:	 NED
Is Working:	 True
CGPA:		 3.9
=================================================

In [11]:
x=4
y=4
z=4

In [12]:
# one value to multiple variables 
x = y = z = 4
print(x)
print(y)
print(z)

4
4
4

In [13]:
# multiple values to multiple variables 
x , y , z = 4,5,6
print(x)
print(y)
print(z)

4
5
6

In [14]:
# taking input from a user
name = input("Enter your Name:")
print("Name:",name)

Enter your Name: SIdra

Name: SIdra

In [15]:
print(type(name))

<class 'str'>

In [16]:
age = float(input("Enter your Age:"))
print("Age:",age)

Enter your Age: 23

Age: 23.0

In [17]:
print(type(age))

<class 'float'>

In [18]:
number1= float(input("Enter your Number"))
number2= float(input("Enter your Number"))
add = number2+number1
print("The Sum of two number is",add)

Enter your Number 11
Enter your Number 22

The Sum of two number is 33.0

In [19]:
#dynamic program which works on user input

In [20]:
#static program is made for specific task like coffee maker.

In [21]:
mass= input("Enter the value of mass")
print(mass)

Enter the value of mass 22

22

In [22]:
type(mass)

str

In [23]:
#it is string because by default input is string not integer
# by adding data type before the input will make it float.

In [24]:
mass= float(input("Enter the value of mass"))
print(type(mass))

Enter the value of mass 33

<class 'float'>

In [25]:
mass = float(input("Type your mass"))
acc= float(input("Type you input"))
force= mass*acc
print(force)

Type your mass 22
Type you input 22

484.0

In [26]:
round(force)

484

In [27]:
number1= float(input("type number1 here"))
number2= float(input("type number2 here"))
sum=number1+number2
print(sum)

type number1 here 22
type number2 here 24

46.0

In [28]:
number1= float(input("type number1 here"))
number2= float(input("type number2 here"))
diff=number2-number1
print(diff)

type number1 here 22
type number2 here 22

0.0

In [29]:
number1= float(input("type number1 here"))
number2= float(input("type number2 here"))
div=number1/number2
print(div)

type number1 here 22
type number2 here 22

1.0

In [30]:
number1= float(input("type number1 here"))
number2= float(input("type number2 here"))
power=number1**number2
print(power)

type number1 here 22
type number2 here 22

3.4142787736421956e+29

In [31]:
#remainder operator
4%2

0

In [32]:
16%2

0

In [33]:
135%2

1

In [34]:
#type casting, where you are changing the data type manually is type casting
number=str(6)
print(type(number))

<class 'str'>

In [35]:
pow(2,3)

8

number=int(4.5)

In [36]:
min(1,2,3,4,5,6,9)

1